.graph .axis {
  stroke-width: 1;
}

.graph .axis .tick line {
  stroke: black;
}

.graph .axis .tick text {
  fill: black;
}

.graph .axis .domain {
  fill: none;
  stroke: black;
 }

.graph .group {
  fill: none;
  stroke: black;
  stroke-width: 1.5;
}

.svg-container {
  margin-top: 25px; 
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
 position: absolute;
  top: 10px;
  left: 0;
}