
  p
  {
    font-size: 14px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    word-wrap:  break-word;
    letter-spacing: 1.5px;
    margin-bottom: 7px;
  }
 
  h3 {
    width: 100%;
    font-size: 20px;
    color: white;
	  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 30px;
  }

  img
  {
    margin-top: 2px;
    vertical-align: top;
    width: 34.3px;
  }