button
{
  font-size: 14px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1.5px;
  position: relative;
  background-color: white;
}

p
{
  word-wrap:  break-word;
    font-size: 14px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 1.5px;
    margin-bottom: 7px;
}

.mat-form-field
{
    font-size: 12px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 1.5px;
    width:100%;
}

h2 {
  width: 100%;
  font-size: 24px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 30px;
}

h3 {
    width: 100%;
    font-size: 20px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 30px;
  }

button:active
{
    outline:0;
}

button:focus
{
    outline:0;
}

.centre
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}