input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background: #ededed url(../../assets/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 190px;
	height: 13px;
	font-size: 11px;
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #fff;
	border-color: #fff;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
	background: #ededed url(../../assets/search-icon.png) no-repeat 9px center;
	width: 590px;
	height: 13px;
	font-size: 11px;
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #fff;
	border-color: #fff;
	
	-webkit-box-shadow: 0 0 5px rgb(255, 255, 255);
	-moz-box-shadow: 0 0 5px rgb(255, 255, 255);
	box-shadow: 0 0 5px rgb(255, 255, 255);
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


.hidden {
    position: absolute;
    height: 0px;
    width: 0px;
    right: -1000px;
}

.donateHover
{
	cursor: pointer;
}

p
{
  font-size: 14px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  word-wrap:  break-word;
  letter-spacing: 1.5px;
  margin-bottom: 7px;
}

h3 {
    width: 100%;
    font-size: 20px;
	  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 30px;
  }
