<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="home" id="logoNav"><div></div></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      MENU
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" routerLinkActive="active">
        <br>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger donateHover" (click)="openDonate()">Donate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="live">Live!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="decentralisation">Decentralisation</a>
        </li>
      </ul>
      <form>
        <input type="search" [(ngModel)]="searchTerm" name="searchTerm" autocomplete="off" placeholder="Account or Block">
        <button class="hidden" (click)="this.search(searchTerm)"></button>
      </form>
    </div>
  </div>
</nav>