<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="home" id="logoNav"><div></div></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      MENU
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" routerLinkActive="active">
        <br>
        <li class="nav-item">
          <a href="https://twitter.com/nanoodleio?lang=en">
            <i class="fa fa-twitter fa-sm"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger hover" (click)="openDonate()">Donate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="api">API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="invoice">Invoice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="live">Live!</a>
        </li>
        <ng-container *ngIf="checkLocalStorage(); then accountNav; else accountHide">
        </ng-container>
        <ng-template #accountNav>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger hover" (click)="this.search(getSavedAccount())">Account</a>
          </li>
        </ng-template>
        <ng-template #accountHide>
        </ng-template>
      </ul>
      <form>
        <input type="search" [(ngModel)]="searchTerm" name="searchTerm" autocomplete="off" placeholder="Account, Block or Alias">
        <button class="hidden" (click)="this.search(searchTerm)"></button>
      </form>
    </div>
  </div>
</nav>
