<td>
    <ng-container *ngIf="blockTime; then blockTimeLoaded; else blockTimeLoading">
    </ng-container>
    <ng-template #blockTimeLoaded>
        <ng-container *ngIf="blockTime.length > 0; then blockTimeResults; else blockTimeEmpty">
        </ng-container>
        <ng-template #blockTimeResults>
            <a [routerLink]="['/block',hash]">{{ formatDate(+(+blockTime[0]['log']['epochTimeStamp'].$date + (+utcOffset * 3600000))) }}</a>
        </ng-template>
        <ng-template #blockTimeEmpty>
            <a [routerLink]="['/block',hash]"> Not Recorded</a>
        </ng-template>
    </ng-template>
    <ng-template #blockTimeLoading>
        <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
    </ng-template>
</td>
<td [attr.id]="hash+'a'">{{addType()}}{{ formatAmount(amount,4) }}</td>
<td [attr.id]="hash+'b'">
    <ng-container *ngIf="rate; then priceLoaded; else priceLoading">
    </ng-container>
    <ng-template #priceLoaded>
        {{ formatDecimals(+rate[currencyType] * formatAmount(amount,4),4) }}
    </ng-template>
    <ng-template #priceLoading>
        <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
    </ng-template>
</td>
<td [attr.id]="hash+'c'">
    <ng-container *ngIf="pastPriceFetch==true; then pastShow;">
    </ng-container>
    <ng-template #pastShow>
        <ng-container *ngIf="pastPrice; then pastPriceLoaded; else pastPriceLoading">
        </ng-container>
        <ng-template #pastPriceLoaded>
            {{ formatDecimals(pastPrice,4) }}
        </ng-template>
        <ng-template #pastPriceLoading>
            <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </ng-template>
    </ng-template>
</td>
<td><a [routerLink]="['/account',account]">{{
        account }}</a></td>
{{ formatType(type, hash+"a") }}
{{ formatType(type, hash+"b") }}
{{ formatType(type, hash+"c") }}