<td>
    <ng-container *ngIf="timeFetch==true; then blockTimeLoading; else blockTimeLoaded">
    </ng-container>
    <ng-template #blockTimeLoaded>
        <ng-container *ngIf="blockTime.length > 0; then blockTimeResults; else blockTimeEmpty">
        </ng-container>
        <ng-template #blockTimeResults>
            <a
                [routerLink]="['/block',hash]">{{ formatDate(+(+blockTime[0]['log']['epochTimeStamp'].$date + (+utcOffset * 3600000))) }}</a>
        </ng-template>
        <ng-template #blockTimeEmpty>
            <a [routerLink]="['/block',hash]"> Not Recorded</a>
        </ng-template>
    </ng-template>
    <ng-template #blockTimeLoading>
        <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
    </ng-template>
</td>
<td [attr.id]="hash+'a'">{{addType()}}{{formatAmount('XRB',this.amount,true)}} NANO</td>
<td [attr.id]="hash+'c'">
    <ng-container *ngIf="rate; then priceLoaded; else priceLoading">
    </ng-container>
    <ng-template #priceLoaded>
        {{ formatAmount(currencyType, +rate * +formatAmount('XRB',this.amount,false),true) }}
    </ng-template>
    <ng-template #priceLoading>
        <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
    </ng-template>
</td>
<td [attr.id]="hash+'d'">
    <ng-container *ngIf="pastRateFetch==true; then pastShow;">
    </ng-container>
    <ng-template #pastShow>
        <ng-container *ngIf="pastRate; then pastRateLoaded; else pastRateLoading">
        </ng-container>
        <ng-template #pastRateLoaded>
            {{ formatAmount(currencyType, pastRate * +formatAmount('XRB',this.amount,false),true) }}
        </ng-template>
        <ng-template #pastRateLoading>
            <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </ng-template>
    </ng-template>
</td>
<td>
    <a [routerLink]="['/account',account]">
        <ng-container *ngIf="alias; then aliasLoaded; else aliasLoading">
        </ng-container>
        <ng-template #aliasLoaded>
            {{ displayAccountAddress(account) }}
        </ng-template>
        <ng-template #aliasLoading>
            {{ account }}
        </ng-template>
    </a>
</td>
{{ formatType(type, hash+"a") }}
{{ formatType(type, hash+"c") }}
{{ formatType(type, hash+"d") }}