div
{
  font-size: 14px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  word-wrap:  break-word;
  letter-spacing: 1.5px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.block_container
{
    text-align:center;
    margin-top: 5px;
}
.info
{
    display:inline;
}

.topper
{
  margin-top: 15px;
}
