.navbar-default {
  background-image: -webkit-linear-gradient(top, #9E00FB 0%, #01B0F9 100%);
  background-image: -o-linear-gradient(top, #9E00FB 0%, #01B0F9 100%);
  background-image: linear-gradient(to bottom, #9E00FB 0%, #01B0F9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff004400', endColorstr='#ff009900', GradientType=0);
}

.navbar-toggler:focus { 
  outline: 1px none;
}