button
{
  font-size: 14px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1.5px;
  position: relative;
  background-color: white;
}

p
{
  word-wrap:  break-word;
    font-size: 14px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 1.5px;
    margin-bottom: 7px;
}

.mat-form-field
{
    font-size: 12px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 1.5px;
    width:100%;
}

button:active
{
    outline:0;
}

button:focus
{
    outline:0;
}

.controls
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }