<header class="masthead">
  <div class="section-heading text-center">
    <img src="../../assets/nanoodle_logo.svg" width="50px" class="img-fluid" alt="">
    <br>
    <h3>Block Overview</h3>
    <br>
  </div>
</header>
<section class="features" id="features">
  <ng-container *ngIf="error; then errorPresent; else results">
  </ng-container>
  <ng-template #errorPresent>
    <div class="container">
      <h3>Block Details</h3>
      <p>Error: {{ error }}</p>
    </div>
  </ng-template>
  <ng-template #results>
    <ng-container *ngIf="blockResults; then loaded; else loading">
    </ng-container>
    <ng-template #loaded>
      <div class="container">
        <h3>Block Details</h3>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <p>Hash: {{ key }}</p>
            <p>Time (UTC+0):
              <ng-container *ngIf="blockTime; then blockTimeLoaded; else blockTimeLoading">
              </ng-container>
              <ng-template #blockTimeLoaded>
                <ng-container *ngIf="blockTime.length > 0; then blockTimeResults else blockTimeEmpty">
                </ng-container>
                <ng-template #blockTimeResults>
                  {{ formatDate(+blockTime[0]['log']['epochTimeStamp'].$date) }}
                </ng-template>
                <ng-template #blockTimeEmpty>
                  Not Recorded
                </ng-template>
              </ng-template>
              <ng-template #blockTimeLoading>
                <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
              </ng-template>
            </p>
            <p>Block Account: <a class="account" [routerLink]="['/account',detail['block_account']]">{{
                detail['block_account'] }}</a></p>
            <p>Block Account XRB Balance: {{ formatAmount('XRB',contents['balance'],true) }} NANO</p>
            <p>Block Account XNO Balance: {{ formatAmount('XNO',contents['balance'],true) }}</p>
            <p>Transaction XRB Amount: {{ formatAmount('XRB',detail['amount'],true) }} NANO</p>
            <p>Transaction XNO Amount: {{ formatAmount('XNO',detail['amount'],true) }}</p>
            <p>({{detail['amount']}} raw)</p>
            <p>Block Type: {{ contents['type'] }}</p>
            <p>Previous: <a [routerLink]="['/block',contents['previous']]">{{ contents['previous'] }}</a></p>
            <p>Representative: <a class="account" [routerLink]="['/account',contents['representative']]">{{
                contents['representative'] }}</a></p>
            <p>({{contents['balance']}} raw)</p>
            <p>Link: {{ contents['link'] }}</p>
            <p>Link As Account: <a class="account" [routerLink]="['/account',contents['link_as_account']]">{{
                contents['link_as_account'] }}</a></p>
            <p>Signature: {{ contents['signature'] }}</p>
            <p>Work: {{ contents['work'] }}</p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #loading>
      <div class="container">
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </div>
    </ng-template>
  </ng-template>
</section>