/* Structure */
table {
    width: 100%;
    font-size: 11px;
	  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  
 
  h3 {
    width: 100%;
    font-size: 20px;
	  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h4 {
    width: 100%;
    font-size: 13px;
	  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 1px;
    text-transform: uppercase;
  }