<header class="masthead">
  <div class="section-heading text-center">
    <img src="../../assets/nanoodle_logo.svg" width="50px" class="img-fluid" alt="">
    <br>
    <h3>Products</h3>
    <br>
  </div>
</header>
<section class="features" id="features">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <p>NANOODLE is planning to build a range of complimentary features into their products.</p>
          <h3>NANOODLE Nano Explorer</h3>
          <p>A lightweight Nano explorer providing a platform for NANOODLE's other products.</p>
          <p>Status: Released</p>
          <p>Future:</p>
          <ul>
            <li>Fiat currency equivalent value - present</li>
            <li>Fiat currency equivalent value - historical</li>
          </ul>
          <h3>NANOODLE Time</h3>
          <p>NANOODLE Time provides a precise timestamp for Nano transactions; this is an essential
            enabler for many Nano projects.</p>
          <p>Status: MVP Released - Basic RPC Callback for Transactions</p>
          <p>Future:</p>
          <ul>
            <li>API access</li>
            <li>Timestamp estimates</li>
            <li>Partner timestamp imports</li>
          </ul>
          <h3>NANOODLE Books</h3>
          <p>NANOODLE Books is NANOODLE's accountancy software integration platform that is being
            developed for Nano</p>
          <p>Status: MVP Released - Account Transactions CSV Download</p>
          <p>Future:</p>
          <ul>
            <li>OFX format download</li>
            <li>QIF format download</li>
            <li>Cloud accountancy software integration</li>
          </ul>
          <h3>NANOODLE Watch</h3>
          <p>NANOODLE Watch provides the ability to watch 1 or more Nano accounts, and get notified as new
            transactions occur</p>
          <p>Status: In Development</p>
          <p>Future:</p>
          <ul>
            <li>Email alerts</li>
            <li>Summarised alert emails</li>
          </ul>
          <h3>NANOODLE Live!</h3>
          <p><a routerLink="/live">NANOODLE Live!</a> provides Nano network visualisations and statistics</p>
          <p>Status: In Development</p>
          <p>Future:</p>
          <ul>
            <li>Live visualisations</li>
            <li>Statistics over time</li>
            <li>Future projections</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait gold">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="../../assets/product.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>