<header class="masthead">
  <div class="section-heading text-center">
    <img src="../../assets/nanoodle_logo.svg" width="50px" class="img-fluid" alt="">
    <br>
    <h3>Products</h3>
    <br>
  </div>
</header>
<section class="features" id="features">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <p>NANOODLE is planning to build a range of complimentary features into their products.</p>
          <h3>NANOODLE Nano Explorer</h3>
          <p>A lightweight Nano explorer providing a platform for NANOODLE's other products.</p>
          <p>Released:</p>
          <ul>
            <li>Fast Asynchronous Results</li>
            <li>Node and Price Synchronisation Details</li>
            <li>Configurable UTC Offset with Timezone Detection</li>
            <li>Configurable Currency</li>
            <li>QR Code - Clickthrough to Compatible Wallets/Services</li>
            <li>knano Equivalent Value</li>
          </ul>
          <p>Future:</p>
          <ul>
            <li>Real-time Language Translations (Awaiting Angular 8)</li>
            <li>Mobile UI Improvements</li>
          </ul>
          <h3>NANOODLE Time</h3>
          <p>NANOODLE Time provides a precise timestamp for Nano transactions; this is an essential
            enabler for many Nano projects.</p>
          <p>Released:</p>
          <ul>
            <li>RPC Callback for Transactions</li>
          </ul>
          <p>Future:</p>
          <ul>
            <li>API access</li>
          </ul>
          <h3>NANOODLE Books</h3>
          <p>NANOODLE Books is NANOODLE's accountancy software integration platform that is being
            developed for Nano</p>
          <p>Released:</p>
          <ul>
            <li>Account Transactions CSV Download</li>
            <li>OFX Download (Beta)</li>
            <li>Current and Historical Prices
              (BTC,ETH,USD,EUR,JPY,GBP,CHF,CAD,AUD,ZAR,MXN,SEK,CNY,BRL,VES,COP,PEN,ARS)</li>
          </ul>
          <p>Future:</p>
          <ul>
            <li>Cloud accountancy software integration</li>
          </ul>
          <h3>NANOODLE Invoice</h3>
          <p>NANOODLE Invoice provides the ability to generate a QR code for an account to request a specific amount of Nano.</p>
          <p>Released:</p>
          <ul>
            <li>Basic Nano QR Code Generation</li>
          </ul>
          <p>Future:</p>
          <ul>
            <li>Advanced Invoice Generation</li>
          </ul>
          <h3>NANOODLE Watch</h3>
          <p>NANOODLE Watch provides the ability to watch 1 or more Nano accounts, and get notified as new
            transactions occur</p>
          <p>Released:</p>
          <ul>
            <li>Email Notifications for Account Activity</li>
          </ul>
          <p>Future:</p>
          <ul>
            <li>Configurable Notifications</li>
          </ul>
          <h3>NANOODLE Live!</h3>
          <p><a routerLink="/live">NANOODLE Live!</a> provides Nano network visualisations and statistics</p>
          <p>Released:</p>
          <ul>
            <li>Live Transactions</li>
            <li>Hourly Transactions</li>
            <li>Hourly Transactions Value</li>
            <li>Hourly Price</li>
            <li>Transaction Size</li>
          </ul>
          <p>Future:</p>
          <ul>
            <li>Longer Term Charts</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait gold">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="../../assets/product.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>