@import "css/new-age.css";
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/font-awesome/css/font-awesome.min.css";
@import "node_modules/fork-awesome/css/fork-awesome.min.css";
@import "node_modules/simple-line-icons/css/simple-line-icons.css";
@import "device-mockups/device-mockups.css";
@import "device-mockups/device-mockups2.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.cdk-overlay-container {
    position: fixed;
    z-index: 3000;
  }

.cdk-global-scrollblock {
    position: static;
    overflow: hidden !important;
}