<header class="masthead">
  <div class="section-heading text-center">
    <img src="../../assets/nanoodle_logo.svg" width="50px" class="img-fluid" alt="">
    <br>
    <h3>NANOODLE x Nano</h3>
    <br>
  </div>
</header>
<section class="features" id="features">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-6 my-auto">
        <h3>NANOODLE</h3>
        <p>NANOODLE is a service for the Nano community. It aims to provide products that will fulfill the needs of
          users and organisations who aim to utilise Nano.</p>
        <p>It's primary focus is on the business adoption of Nano. See the <a routerLink="/products">products</a>
          page for further details.</p>
        <h3>Feeless. Instant. Green.</h3>
        <p><a href="https://nano.org/en">Nano</a> is a digital currency being developed by the Nano Foundation and its
          open source contributers.
          This community is building a feeless, instant, global currency over a secure, scalable, energy efficient and
          decentralised network. </p>
        <p>Nano's network is built around the Block-Lattice architecture (a form of DAG), in which each account has its
          own blockchain. When a transaction occurs on the Block-Lattice, a block is added onto the sender's and
          receiver's blockchains; other accounts' blockchains are not effected. This approach makes Nano extremely fast
          and scalable.</p>
        <p>The vision for Nano is that it becomes a universally accepted global currency.</p>
        <p>Explore a range of Nano resources at <a href="https://nanolinks.info/">Nano Links.</a></p>
      </div>
      <div class="col-lg-6 video-top">
        <div class="header-content mx-auto wrapper">
          <iframe src="https://player.vimeo.com/video/253563861?autoplay=0&amp;title=0&amp;byline=0&amp;portrait=0"
            frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</section>