<header class="masthead">
  <div class="section-heading text-center">
    <img src="../../assets/nanoodle_logo.svg" width="50px" class="img-fluid" alt="">
    <br>
    <br>
    <h3>NANOODLE x Nano</h3>
    <br>
  </div>
</header>
<section class="features" id="features">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-6 my-auto">
        <h3 class="mb-5">NANOODLE</h3>
        <p>NANOODLE is a service for the Nano community. It aims to provide features that will fulfill the needs of
          users and organisations who aim to utliise Nano.</p>
          <p>It's primary focus is on the business adoption of Nano.</p>
        <br>
        <h3 class="mb-5">Feeless. Instant. Green.</h3>
        <p><a href="https://nano.org/en">Nano</a> is a digital currency being developed by the Nano Foundation and its
          open source contributers.
          This community is building a feeless, instant, global currency over a secure, scalable, energy efficient and
          decentralised network. </p>
        <p>Nano's architecture is built around the Block-Lattice (a form of DAG), in which each account has its own
          blockchain. When a transaction occurs
          on the Block-Lattice, a block is added onto the sender and receiver's blockchains; other account's
          blockchains are not effected.
          This approach makes Nano extremely fast and scalable.</p>
        <p>The vision for Nano is that it becomes one of the world's most popular currencies.</p>
      </div>
      <div class="col-lg-6 my-auto">
        <div class="header-content mx-auto">
          <iframe src="https://player.vimeo.com/video/253563861?autoplay=0&amp;title=0&amp;byline=0&amp;portrait=0"
            frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</section>