<header class="masthead">
  <div class="section-heading text-center">
    <img src="../../assets/nanoodle_logo.svg" width="50px" class="img-fluid" alt="">
    <br>
    <h3>Representatives</h3>
    <br>
  </div>
</header>
<section class="features" id="features">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h3>Decentralise Nano</h3>
          <p>Transactions on the Nano network are voted on to ensure they are legitimate and protect the network
            against bad actors who may wish to conduct malicious actions such as interupting transactions and
            conducting double spending attacks. Voting power is related to the number of Nano that are represented in
            the vote.</p>
          <p>Voting is conducted by a Nano node for its associated representatives. The Nano node software
            can be run by anybody wishing to help decentralise the network. See <a href="https://github.com/nanocurrency/raiblocks/wiki/Docker-node">here</a>
            for details on how to run a Nano node.</p>
          <p>Nano nodes are associated with 1 or more accounts, all of which can be nominated as a representative by
            another individual's accounts; this is a sensible approach where an individual is not running a node
            themselves (so they wouldn't be able to represent the voting power of the Nano in their own accounts). A
            representative will vote on behalf of all the Nano in all the accounts that have nominated the
            representative.</p>
          <p>Selecting a representative is an important way to secure the health of the Nano network and ensure your
            Nano voting power is counted. It is an important feature for decentralisation of Nano voting power, and
            allow's individuals to change their representative at any time for no cost. A representative may be
            assessed on several factors including:
            <ul>
              <li>Online Availability</li>
              <li>Reputation</li>
              <li>Diversity</li>
              <li>Version</li>
              <li>Processing Power</li>
              <li>Voting Weight</li>
              <li>Synchronization</li>
            </ul>
            <p>In many cases, individuals will keep a default representative on their account. This may be because they score highly
              on several fronts or will hold their Nano on an exchange where they may not get a choice of
              representative. This can result in a more centralised Nano network. The long term aim is to have a wider
              selection of good representatives for an individual to choose from so that Nano becomes more
              decentralised.</p>
            <p>For further reading on the protocol, see the <a href="https://github.com/NanoTools/wiki/blob/master/Rebroadcasting-Elections.md">NanoTools
                wiki</a></p>
            <p>See <a href="https://mynano.ninja/">My Nano Ninja</a> for a list of reliable representatives that require voting weight.</p>
            <div class="header-content mx-auto wrapper">
              <iframe src="https://www.youtube.com/embed/LZ8TZFfYDcY?rel=0&amp;showinfo=0" frameborder="0"
                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""> </iframe></div>
            <p>Video created by <a href="https://twitter.com/Thunder_Draws">Thunder Draws</a></p>
        </div>
      </div>
      <div class="col-lg-5 video-top">
        <div class="header-content mx-auto">
          <h3>NANOODLE Representative</h3>
          <p>The NANOODLE representative can be selected by using the below identifier:</p>
          <p><a class="account" routerLink="/account/xrb_1e6e41up4x5e4jke6wy4k6nnuagagspfx4tjafghub6cw46ueimqt657nx4a">xrb_1e6e41up4x5e4jke6wy4k6nnuagagspfx4tjafghub6cw46ueimqt657nx4a</a></p>
          <h4>Node Details</h4>
          <p>Specification</p>
          <ul>
            <li>4 Core</li>
            <li>8 GB Memory</li>
            <li>200GB SSD Disk</li>
          </ul>
          <p>Location: Germany</p>
          <p>Provider: Contabo</p>
          <ng-container *ngIf="versionResults; then versionLoaded; else versionLoading">
          </ng-container>
          <ng-template #versionLoaded>
            <p>Version: {{ formatVersion(versionResults['node_vendor']) }}</p>
          </ng-template>
          <ng-template #versionLoading>
            <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
          </ng-template>
          <ng-container *ngIf="blockCountResults; then blockCountLoaded; else blockCountLoading">
          </ng-container>
          <ng-template #blockCountLoaded>
            <p>Synchronisation: {{
              formatDecimals(+(+blockCountResults['count']/(+blockCountResults['count']++blockCountResults['unchecked']))*100,3)
              }}% ({{+blockCountResults['unchecked']}} Unchecked Blocks)</p>
          </ng-template>
          <ng-template #blockCountLoading>
            <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
          </ng-template>
          <ng-container *ngIf="weightResults; then weightLoaded; else weightLoading">
          </ng-container>
          <ng-template #weightLoaded>
            <p>Voting Weight: {{ formatAmount(weightResults['weight']) }}</p>
            <ng-container *ngIf="+formatDecimals(+formatAmount(weightResults['weight'])) < 133248.289; then displayProgress; else displayThanks">
            </ng-container>
            <ng-template #displayProgress>
              <p>The NANOODLE representative is {{formatDecimals(+formatAmount(weightResults['weight']) / 133248.289 *
                100)}}% toward becoming a rebroadcasting representative</p>
            </ng-template>
            <ng-template #displayThanks>
              <p>The NANOODLE representative is a rebroadcasting representative! Thanks you</p>
            </ng-template>
          </ng-template>
          <ng-template #weightLoading>
            <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
          </ng-template>
          <p><a href="https://mynano.ninja/account/xrb_1e6e41up4x5e4jke6wy4k6nnuagagspfx4tjafghub6cw46ueimqt657nx4a"><img
                src="../../assets/ninja-icon.png" width="30px"> NANOODLE representative on My Nano Ninja</a></p>
        </div>
      </div>
    </div>
  </div>
</section>