<header class="masthead">
  <div class="section-heading text-center">
    <img src="../../assets/nanoodle_logo.svg" width="50px" class="img-fluid" alt="">
    <br>
    <br>
    <h3>Representatives</h3>
    <br>
  </div>
</header>
<section class="features" id="features">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <br>
          <h3>NANOODLE Representative</h3>
          <p>Nominate the NANOODLE representative at:</p>
          <p><a class="account" routerLink="/account/xrb_1e6e41up4x5e4jke6wy4k6nnuagagspfx4tjafghub6cw46ueimqt657nx4a">xrb_1e6e41up4x5e4jke6wy4k6nnuagagspfx4tjafghub6cw46ueimqt657nx4a</a></p>
          <h3>Decentralise Nano</h3>
          <p>Transactions on the Nano network are voted on to ensure they are legitimate and protect the network
            against bad actors. This voting is conducted by a Nano node, software that can be run by anybody wishing to
            participate in the network. See <a href="https://github.com/nanocurrency/raiblocks/wiki/Docker-node">here</a>
            for details on how to run a Nano node and help decentralise the nano network.</p>
          <p>Nano nodes are associated with 1 or more accounts (within a wallet), all of which can be nominated as a
            Representative by other accounts. This is an efficient way for accounts to ensure that they can participate
            in the network voting, even if they aren't going to be consistenly online; a representative will vote on
            behalf of all accounts that have nominated the account. The ability for an account to change its nominated
            representative is an important feature for decentralisation of the Nano network.</p>
          <p>A representative's voting power is related to the amount of Nano that is assigned to the representative
            from accounts. In many cases, individuals will keep a default representative on their account and this can
            result in a more centralised Nano network. To support Nano decentralisation, individuals should change
            their representative based on an assessment of:
            <ul>
              <li>Node Availability</li>
              <li>Reputation</li>
              <li>Diversity</li>
              <li>Version</li>
              <li>Processing Power</li>
              <li>Voting Weight</li>
              <li>Synchronization</li>
            </ul>
            <p>Increasing the number of good representatives improves network health.</p>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="header-content mx-auto wrapper">
          <iframe src="https://www.youtube.com/embed/l8AGmcApD44?rel=0&amp;showinfo=0" frameborder="0"
            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
          </iframe>
          <p>The above video was created by <a href="https://twitter.com/Thunder_Draws">Thunder Draws</a></p>
        </div>
      </div>
    </div>
  </div>
</section>