<header class="masthead">
  <div class="section-heading text-center">
    <img src="../../assets/nanoodle_logo.svg" width="50px" class="img-fluid" alt="">
    <br>
    <h3>Account Overview</h3>
    <br>
  </div>
</header>
<section class="features" id="features">
  <ng-container *ngIf="error; then errorPresent; else results">
  </ng-container>
  <ng-template #errorPresent>
    <div class="container">
      <h3>Address</h3>
      <p>Error: {{ error }}</p>
    </div>
  </ng-template>
  <ng-template #results>
    <div class="container">
      <ng-container *ngIf="blockCountResults; then blockCountLoaded; else blockCountLoading">
      </ng-container>
      <ng-template #blockCountLoaded>
        <p>The NANOODLE node is {{
          formatDecimals(+(+blockCountResults['count']/(+blockCountResults['count']++blockCountResults['unchecked']))*100,3)
          }}% in sync with the Nano network</p>
      </ng-template>
      <ng-template #blockCountLoading>
        <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
      </ng-template>
      <h3>Identifier</h3>
      <ng-container *ngIf="accountResults; then accountLoaded; else accountLoading">
      </ng-container>
      <ng-template #accountLoaded>
        <p>
          <qrcode [qrdata]="accountResults['account']" [size]="128" [level]="'M'"></qrcode>
        </p>
        <p>{{ accountResults['account'] }}</p>
      </ng-template>
      <ng-template #accountLoading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
    </div>
    <div class="container">
      <h3>Options</h3>
      <mat-form-field>
        <mat-select name="currencyType" [(ngModel)]="currencyType" placeholder="Currency" required #last="ngModel"
          (selectionChange)="getPrice($event)">
          <mat-option value="GBP">GBP - British Pound Sterling</mat-option>
          <mat-option value="EUR">EUR - Euro</mat-option>
          <mat-option value="USD">USD - United States Dollar</mat-option>
          <mat-option value="BTC">BTC - Bitcoin </mat-option>
          <mat-option value="ETH">ETH - Etherium</mat-option>
          <mat-option value="JPY">JPY - Japanese Yen</mat-option>
          <mat-option value="CHF">CHF - Swiss Franc</mat-option>
          <mat-option value="CAD">CAD - Canadian Dollar</mat-option>
          <mat-option value="AUD">AUD - Australian Dollar</mat-option>
          <mat-option value="ZAR">ZAR - South African Rand</mat-option>
          <mat-option value="SEK">SEK - Swedish Krona</mat-option>
          <mat-option value="CNY">CNY - Chinese Yuan</mat-option>
          <mat-option value="MXN">MXN - Mexican Peso</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="container">
      <mat-form-field>
        <mat-select name="utcOffset" [(ngModel)]="utcOffset" placeholder="UTC Time Offset" required #last="ngModel">
          <mat-option value="-11">-11 e.g. Midway, Pago Pago</mat-option>
          <mat-option value="-10">-10 e.g. Honolulu, Tahiti</mat-option>
          <mat-option value="-9">-9 e.g. Anchorage</mat-option>
          <mat-option value="-8">-8 e.g. Los Angeles, Tijuana, Vancouver</mat-option>
          <mat-option value="-7">-7 e.g. Denver, Edmonton, Phoenix</mat-option>
          <mat-option value="-6">-6 e.g. Belize, Chicago, Costa Rica, El Salvador, Mexico City</mat-option>
          <mat-option value="-5">-5 e.g. Jamaica, Lima, New York, Peru</mat-option>
          <mat-option value="-4">-4 e.g. Barbados, Halifax, Santiago, Bermuda</mat-option>
          <mat-option value="-3">-3 e.g. Buenos Aires, Sao Paulo</mat-option>
          <mat-option value="-2">-2 e.g. South Georgia, Noronha</mat-option>
          <mat-option value="-1">-1 e.g. Scoresbysund, Azores, Cape Verde</mat-option>
          <mat-option value="+0">+0 e.g. London, Abidjan, Accra, Casablanca, Dublin, Lisbon</mat-option>
          <mat-option value="+1">+1 e.g. Madrid, Berlin, Stockholm, Rome, Kinshasa, Lagos </mat-option>
          <mat-option value="+2">+2 e.g. Johannesburg, Cairo, Athens, Tripoli, Instanbul</mat-option>
          <mat-option value="+3">+3 e.g. Djibouti, Mogadishu, Riyadh, Baghdad, Moscow</mat-option>
          <mat-option value="+4">+4 e.g. Tbilisi, Dubai</mat-option>
          <mat-option value="+5">+5 e.g. Karachi, Maldvies</mat-option>
          <mat-option value="+6">+6 e.g. Dhaka, Vostok</mat-option>
          <mat-option value="+7">+7 e.g. Ho Chi Minh, Bangkok, Jakarta</mat-option>
          <mat-option value="+8">+8 e.g. Kuala Lumpur, Hong Kong, Shanghai, Singapore, Perth</mat-option>
          <mat-option value="+9">+9 e.g. Seoul, Tokyo</mat-option>
          <mat-option value="+10">+10 e.g. Sydney, Guam</mat-option>
          <mat-option value="+11">+11 e.g. Micronesia</mat-option>
          <mat-option value="+12">+12 e.g. Auckland, Fiji</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="container">
      <h3>NANO Balance</h3>
      <ng-container *ngIf="balanceResults; then balanceLoaded; else balanceLoading">
      </ng-container>
      <ng-template #balanceLoaded>
        <p>XRB (Mnano): {{ formatAmount('XRB',+balanceResults['balance'] + +balanceResults['pending'],true) }} (including
          {{formatAmount('XRB',balanceResults['pending'],true)}}
          pending)</p>
        <p>XNO (nano): {{ formatAmount('XNO',+balanceResults['balance'] + +balanceResults['pending'],true) }} (including
          {{formatAmount('XNO',balanceResults['pending'],true)}}
          pending)</p>
        <ng-container *ngIf="priceResults; then priceLoaded; else priceLoading">
        </ng-container>
        <ng-template #priceLoaded>
          <p>{{ currencyType }}: {{ formatAmount(currencyType, +formatAmount('XRB',+balanceResults['balance'] +
            +balanceResults['pending']) * priceResults[currencyType],true) }} </p>
        </ng-template>
        <ng-template #priceLoading>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </ng-template>
      </ng-template>
      <ng-template #balanceLoading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
    </div>
    <div class="container">
      <h3>Unprocessed Blocks</h3>
      <ng-container *ngIf="keys; then blocksloaded; else blocksloading">
      </ng-container>
      <ng-template #blocksloaded>
        <ng-container *ngIf="keys.length > 0; then blocksShow; else blocksEmpty">
        </ng-container>
        <ng-template #blocksShow>
          <p>Showing up to the last 20 incoming blocks, in no order, for which this account has not published a block
            to complete
            the transaction</p>
          <div class="row">
            <div class="col-lg-12 my-auto">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Time (UTC{{utcOffset}})</th>
                    <th scope="col">XRB</th>
                    <th scope="col">XNO</th>
                    <th scope="col">{{currencyType}} Now</th>
                    <th scope="col">{{currencyType}} Then</th>
                    <th scope="col">Associated Account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr app-transactionRow *ngFor="let key of keys;" [rate]=this.priceResults [hash]=key [type]='"receive"'
                    [utcOffset]=utcOffset [currencyType]=currencyType [account]='blockResults["blocks"][key]["block_account"]'
                    [amount]='blockResults["blocks"][key]["amount"]'>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </ng-template>
      <ng-template #blocksEmpty>
        <p>No incoming blocks</p>
      </ng-template>
      <ng-template #blocksloading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
    </div>
    <div class="container">
      <h3>Transactions</h3>
      <ng-container *ngIf="accountResults; then transactionLoaded; else transactionLoading">
      </ng-container>
      <ng-template #transactionLoaded>
        <ng-container *ngIf="accountResults['history'].length > 0; then transactionsShow; else transactionsEmpty">
        </ng-container>
        <ng-template #transactionsShow>
          <p>Showing up to the last 20 transactions</p>
          <div class="row">
            <div class="col-lg-12 my-auto">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Time (UTC{{utcOffset}})</th>
                    <th scope="col">XRB</th>
                    <th scope="col">XNO</th>
                    <th scope="col">{{currencyType}} Now</th>
                    <th scope="col">{{currencyType}} Then</th>
                    <th scope="col">Associated Account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr app-transactionRow *ngFor="let transaction of accountResults['history']" [rate]=this.priceResults
                    [type]=transaction.type [utcOffset]=utcOffset [currencyType]=currencyType [hash]=transaction.hash
                    [account]=transaction.account [amount]=transaction.amount>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
        <ng-template #transactionsEmpty>
          <p>No transactions in account history</p>
        </ng-template>
      </ng-template>
      <ng-template #transactionLoading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
    </div>
    <div class="container">
      <h3>Voting</h3>
      <ng-container *ngIf="representativeResults; then representativeLoaded; else representativeLoading">
      </ng-container>
      <ng-template #representativeLoaded>
        <ng-container *ngIf="representativeResults['representative']; then representativeShow; else representativeEmpty">
        </ng-container>
        <ng-template #representativeShow>
          <p>This account's representative is:
            <a class=account [routerLink]="['/account',representativeResults['representative']]">{{
              representativeResults['representative'] }}</a>
        </ng-template>
        <ng-template #representativeEmpty>
          <p>This account has no representative set</p>
        </ng-template>
      </ng-template>
      <ng-template #representativeLoading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
      <ng-container *ngIf="weightResults; then weightLoaded; else weightloading">
      </ng-container>
      <ng-template #weightLoaded>
        <p>{{formatAmount('XRB',weightResults['weight'],true)}} XRB voting weight</p>
        <p>{{formatAmount('XNO',weightResults['weight'],true)}} XNO voting weight</p>
      </ng-template>
      <ng-template #weightloading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
      <h3>NANOODLE Products</h3>
      <h4>NANOODLE Books</h4>
      <p>Download this account's transactions in a variety of formats (unprocessed transactions are included)</p>
      <app-accountDownload [identifier]=identifier [currencyType]=currencyType [utcOffset]=utcOffset></app-accountDownload>
      <h4>NANOODLE Watch</h4>
      <p>Receive an email when transactions are detected on this account</p>
      <app-accountWatch [identifier]=identifier></app-accountWatch>
    </div>
  </ng-template>
</section>