<header class="masthead">
  <div class="section-heading text-center">
    <img src="../../assets/nanoodle_logo.svg" width="50px" class="img-fluid" alt="">
    <br>
    <h3>Account Overview</h3>
    <br>
  </div>
</header>
<app-market></app-market>
<section class="features" id="features">
  <ng-container *ngIf="error; then errorPresent; else results">
  </ng-container>
  <ng-template #errorPresent>
    <div class="container">
      <h3>Address</h3>
      <p>Error: {{ error }}</p>
    </div>
  </ng-template>
  <ng-template #results>
    <div class="container">
      <ng-container *ngIf="alias; then AddressLoad; else AddressLoading">
      </ng-container>
      <ng-template #AddressLoad>
        <ng-container *ngIf="hasAlias(identifier); then addressAliasShow; else noAddressAliasDisplay">
        </ng-container>
        <ng-template #addressAliasShow>
          <h3>{{ alias[identifier] }} </h3>
        </ng-template>
        <ng-template #noAddressAliasDisplay>
          <h3>Address</h3>
        </ng-template>
      </ng-template>
      <ng-template #AddressLoading>
        <h3>Address</h3>
      </ng-template>
      <ng-container *ngIf="accountResults; then accountLoaded; else accountLoading">
      </ng-container>
      <ng-template #accountLoaded>
        <p>
          <a [href]="nanoUrl">
            <qrcode [qrdata]="'nano:' + accountResults['account']" [size]="128" [level]="'M'"></qrcode>
          </a>
        </p>
        <p id="identifier">{{ accountResults['account'] }} <i (click)="copyToClipboard(accountResults['account'])"
            class="fa fa-clipboard fa-1"></i></p>
      </ng-template>
      <ng-template #accountLoading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
      <ng-container *ngIf="copied; then copyMessage;">
      </ng-container>
      <ng-template #copyMessage>
        <p class="success">Account identifier copied to clipboard
        </p>
      </ng-template>
    </div>
    <div class="container">
      <h3>Balance</h3>
      <ng-container *ngIf="balanceResults; then balanceLoaded; else balanceLoading">
      </ng-container>
      <ng-template #balanceLoaded>
        <p>XRB: {{ formatAmount('XRB',+balanceResults['balance'] + +balanceResults['pending'],true) }} NANO
          (including
          {{formatAmount('XRB',balanceResults['pending'],true)}} NANO
          unprocessed)</p>
        <p>XNO: {{ formatAmount('XNO',+balanceResults['balance'] + +balanceResults['pending'],true) }}
          (including
          {{formatAmount('XNO',balanceResults['pending'],true)}}
          unprocessed)</p>
        <ng-container *ngIf="priceResults; then priceLoaded; else priceLoading">
        </ng-container>
        <ng-template #priceLoaded>
          <p>{{ currencyType }}: {{ formatAmount(currencyType, +formatAmount('XRB',+balanceResults['balance'] +
            +balanceResults['pending']) * +priceResults,true) }} (including
            {{ formatAmount(currencyType, +formatAmount('XRB', +balanceResults['pending']) * +priceResults,true) }}
            unprocessed)</p>
        </ng-template>
        <ng-template #priceLoading>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </ng-template>
      </ng-template>
      <ng-template #balanceLoading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
    </div>
    <div class="container">
      <h3>Options</h3>
      <h4>Customise Results</h4>
      <p>
        <mat-form-field>
          <mat-select name="currencyType" [(ngModel)]="currencyType" placeholder="Currency" required #last="ngModel"
            (selectionChange)="getPrice($event)">
            <mat-option value="GBP">GBP - British Pound Sterling</mat-option>
            <mat-option value="EUR">EUR - Euro</mat-option>
            <mat-option value="USD">USD - United States Dollar</mat-option>
            <mat-option value="BTC">BTC - Bitcoin </mat-option>
            <mat-option value="ETH">ETH - Etherium</mat-option>
            <mat-divider></mat-divider>
            <mat-option value="ARS">ARS - Argentine Peso</mat-option>
            <mat-option value="AUD">AUD - Australian Dollar</mat-option>
            <mat-option value="BRL">BRL - Brazilian Real</mat-option>
            <mat-option value="CAD">CAD - Canadian Dollar</mat-option>
            <mat-option value="CHF">CHF - Swiss Franc</mat-option>
            <mat-option value="CNY">CNY - Chinese Yuan</mat-option>
            <mat-option value="COP">COP - Columbian Peso</mat-option>
            <mat-option value="GHS">GHS - Ghanaian Cedi</mat-option>
            <mat-option value="INR">INR - Indian Rupee</mat-option>
            <mat-option value="JPY">JPY - Japanese Yen</mat-option>
            <mat-option value="MXN">MXN - Mexican Peso</mat-option>
            <mat-option value="NGN">NGN - Nigerian Naira</mat-option>
            <mat-option value="PEN">PEN - Peruvian Sol</mat-option>
            <mat-option value="SEK">SEK - Swedish Krona</mat-option>
            <mat-option value="TRY">TRY - Turkish Lira</mat-option>
            <mat-option value="VES">VES - Venezuelan Bolívar</mat-option>
            <mat-option value="VND">VND - Vietnamese Dong</mat-option>
            <mat-option value="ZAR">ZAR - South African Rand</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-select name="utcOffset" [(ngModel)]="utcOffset" placeholder="UTC Time Offset" required #last="ngModel">
            <mat-option value="-11">-11 e.g. Midway, Pago Pago</mat-option>
            <mat-option value="-10">-10 e.g. Honolulu, Tahiti</mat-option>
            <mat-option value="-9">-9 e.g. Anchorage</mat-option>
            <mat-option value="-8">-8 e.g. Los Angeles, Tijuana, Vancouver</mat-option>
            <mat-option value="-7">-7 e.g. Denver, Edmonton, Phoenix</mat-option>
            <mat-option value="-6">-6 e.g. Belize, Chicago, Costa Rica, El Salvador, Mexico City</mat-option>
            <mat-option value="-5">-5 e.g. Jamaica, Lima, New York, Peru</mat-option>
            <mat-option value="-4">-4 e.g. Caracas, Barbados, Halifax, Santiago, Bermuda</mat-option>
            <mat-option value="-3">-3 e.g. Buenos Aires, Sao Paulo, Rio de Janeiro</mat-option>
            <mat-option value="-2">-2 e.g. South Georgia, Noronha</mat-option>
            <mat-option value="-1">-1 e.g. Scoresbysund, Azores, Cape Verde</mat-option>
            <mat-option value="+0">+0 e.g. London, Freetown, Abidjan, Accra, Casablanca, Dublin, Lisbon</mat-option>
            <mat-option value="+1">+1 e.g. British Summer Time, Madrid, Berlin, Stockholm, Rome </mat-option>
            <mat-option value="+2">+2 e.g. Johannesburg, Cairo, Athens, Tripoli, Instanbul</mat-option>
            <mat-option value="+3">+3 e.g. Instanbul, Mogadishu, Riyadh, Baghdad, Moscow</mat-option>
            <mat-option value="+4">+4 e.g. Tbilisi, Dubai</mat-option>
            <mat-option value="+5">+5 e.g. Karachi, Maldvies</mat-option>
            <mat-option value="+6">+6 e.g. Dhaka, Vostok</mat-option>
            <mat-option value="+7">+7 e.g. Hanoi, Bangkok, Jakarta</mat-option>
            <mat-option value="+8">+8 e.g. Kuala Lumpur, Hong Kong, Shanghai, Singapore, Perth</mat-option>
            <mat-option value="+9">+9 e.g. Seoul, Tokyo</mat-option>
            <mat-option value="+10">+10 e.g. Sydney, Guam</mat-option>
            <mat-option value="+11">+11 e.g. Micronesia</mat-option>
            <mat-option value="+12">+12 e.g. Auckland, Fiji</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <h4>NANOODLE Books</h4>
      <p>Download this account's transactions in a variety of formats (unprocessed transactions are included)</p>
      <app-accountDownload [identifier]=identifier [currencyType]=currencyType [utcOffset]=utcOffset>
      </app-accountDownload>
      <h4>NANOODLE Watch</h4>
      <p>Receive an email when transactions are detected on this account</p>
      <app-accountWatch [identifier]=identifier></app-accountWatch>
      <h4>NANOODLE Invoice</h4>
      <p>Basic QR code generator for this account</p>
      <app-accountInvoice [identifier]=identifier></app-accountInvoice>
    </div>
    <div class="container">
      <h3>Received Transactions</h3>
      <ng-container *ngIf="keys; then blocksloaded; else blocksloading">
      </ng-container>
      <ng-template #blocksloaded>
        <ng-container *ngIf="keys.length > 0; then blocksShow; else blocksEmpty">
        </ng-container>
        <ng-template #blocksShow>
          <p>Showing up to the last 20 received transactions, in no order, for which this account has not processed a receive block
            to claim the funds and add them into the account balance (the funds will become spendable). A receive block is added automatically by many Nano wallets.</p>
          <div class="row">
            <div class="col-lg-12 my-auto">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Time (UTC{{utcOffset}})</th>
                    <th scope="col">XRB</th>
                    <th scope="col">XNO</th>
                    <th scope="col">{{currencyType}} Now</th>
                    <th scope="col">{{currencyType}} Then</th>
                    <th scope="col">Associated Account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr app-transactionRow *ngFor="let key of keys;" [alias]=this.alias [rate]=this.priceResults
                    [hash]=key [type]='"receive"' [utcOffset]=utcOffset [currencyType]=currencyType
                    [account]='blockResults["blocks"][key]["block_account"]'
                    [amount]='blockResults["blocks"][key]["amount"]'>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </ng-template>
      <ng-template #blocksEmpty>
        <p>No received blocks to process</p>
      </ng-template>
      <ng-template #blocksloading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
    </div>
    <div class="container">
      <h3>Spent/Claimed Transactions</h3>
      <ng-container *ngIf="accountResults; then transactionLoaded; else transactionLoading">
      </ng-container>
      <ng-template #transactionLoaded>
        <ng-container *ngIf="accountResults['history'].length > 0; then transactionsShow; else transactionsEmpty">
        </ng-container>
        <ng-template #transactionsShow>
          <p>Showing up to the last 20 spent/claimed transactions</p>
          <div class="row">
            <div class="col-lg-12 my-auto">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Time (UTC{{utcOffset}})</th>
                    <th scope="col">XRB</th>
                    <th scope="col">XNO</th>
                    <th scope="col">{{currencyType}} Now</th>
                    <th scope="col">{{currencyType}} Then</th>
                    <th scope="col">Associated Account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr app-transactionRow *ngFor="let transaction of accountResults['history']" [alias]=this.alias
                    [rate]=this.priceResults [type]=transaction.type [utcOffset]=utcOffset [currencyType]=currencyType
                    [hash]=transaction.hash [account]=transaction.account [amount]=transaction.amount>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
        <ng-template #transactionsEmpty>
          <p>No spent/claimed transactions in account history</p>
        </ng-template>
      </ng-template>
      <ng-template #transactionLoading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
    </div>
    <div class="container">
      <h3>Voting</h3>
      <ng-container *ngIf="representativeResults; then representativeLoaded; else representativeLoading">
      </ng-container>
      <ng-template #representativeLoaded>
        <ng-container
          *ngIf="representativeResults['representative']; then representativeShow; else representativeEmpty">
        </ng-container>
        <ng-template #representativeShow>
          <ng-container *ngIf="alias; then aliasDisplay; else showRep">
          </ng-container>
          <ng-template #aliasDisplay>
            <ng-container
              *ngIf="hasAlias(representativeResults['representative']); then aliasShow; else noAliasDisplay">
            </ng-container>
            <ng-template #aliasShow>
              <p>This account's representative is: <a
                  [routerLink]="['/account',representativeResults['representative']]">{{ alias[representativeResults['representative']] }}</a>
              </p>
            </ng-template>
            <ng-template #noAliasDisplay>
              <p>This account's representative is: <a
                  [routerLink]="['/account',representativeResults['representative']]">{{ representativeResults['representative'] }}</a>
              </p>
            </ng-template>
          </ng-template>
          <ng-template #showRep>
            <p>This account's representative is: <a
                [routerLink]="['/account',representativeResults['representative']]">{{ representativeResults['representative'] }}</a>
            </p>
          </ng-template>
        </ng-template>
        <ng-template #representativeEmpty>
          <p>This account has no representative set</p>
        </ng-template>
      </ng-template>
      <ng-template #representativeLoading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
      <ng-container *ngIf="weightResults; then weightLoaded; else weightloading">
      </ng-container>
      <ng-template #weightLoaded>
        <p>XRB: {{formatAmount('XRB',weightResults['weight'],true)}} NANO voting weight</p>
        <p>XNO: {{formatAmount('XNO',weightResults['weight'],true)}} voting weight</p>
      </ng-template>
      <ng-template #weightloading>
        <div>
          <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
        </div>
      </ng-template>
      <ng-container *ngIf="repScore; then repScoreLoaded;">
      </ng-container>
      <ng-template #repScoreLoaded>
        <p><a href="https://mynano.ninja/account/{{representativeResults['representative']}}"><img
              src="../../assets/ninja-icon.png" width="30px"></a>Ninja Score of {{ repScore }} out of 100</p>
      </ng-template>
      <ng-container *ngIf="repDelegators; then repDelegatorsLoaded;">
      </ng-container>
      <ng-template #repDelegatorsLoaded>
        <p><a href="https://mynano.ninja/account/{{representativeResults['representative']}}"><img
              src="../../assets/ninja-icon.png" width="30px"></a>{{ repDelegators }} Delegators</p>
      </ng-template>
      <ng-container *ngIf="repLastVoted; then repLastVotedLoaded;">
      </ng-container>
      <ng-template #repLastVotedLoaded>
        <p><a href="https://mynano.ninja/account/{{representativeResults['representative']}}"><img
              src="../../assets/ninja-icon.png" width="30px"></a>Last voted on {{ repLastVoted }}</p>
      </ng-template>
      <ng-container *ngIf="repUptime; then repUptimeLoaded;">
      </ng-container>
      <ng-template #repUptimeLoaded>
        <p><a href="https://mynano.ninja/account/{{representativeResults['representative']}}"><img
              src="../../assets/ninja-icon.png" width="30px"></a>{{ repUptime.toFixed(2) }}% Uptime</p>
      </ng-template>
    </div>
  </ng-template>
</section>