/* Structure */
table {
    width: 100%;
    font-size: 14px;
	  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 1.5px;
  }

  td{
    word-wrap:  break-word;
  }
  
  .mat-form-field  
  {
    font-size: 14px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 1.5px;
  }

  .account {
    text-transform: lowercase;
}

button:focus {
  outline: 0 !important;
  border: 0 !important;
}

p
{
  font-size: 14px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  word-wrap:  break-word;
  letter-spacing: 1.5px;
  margin-bottom: 7px;
}

h3 {
  width: 100%;
  font-size: 20px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 30px;
}

h4 {
  width: 100%;
  font-size: 16px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 10px;
}


  .positive {
    color: green;
}

.negative {
    color: red;
}