<header class="masthead">
  <div class="section-heading text-center">
    <img src="../../assets/nano_logo.svg" width="200px" class="img-fluid" alt="">
    <br>
    <br>
    <h3>Account Overview</h3>
  </div>
</header>
<section class="features" id="features">
  <ng-container *ngIf="account; then loaded; else loading">
  </ng-container>
  <ng-template #loaded>
    <div class="container">
      <h3>Account</h3>
      <br>
      <p>
        <qrcode [qrdata]="account['account']" [size]="128" [level]="'M'"></qrcode>
      </p>
      <p> {{ account['account'] }}</p>
      <h3>Unprocessed Blocks</h3>
      <br>
      <p> Text</p>
      <h3>Transactions</h3>
      <br>
      <div class="row">
        <div class="col-lg-12 my-auto">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col"><img src="../../assets/nano_logo_black.svg" width="30px"></th>
                <th scope="col">Associated Account</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions">
                <th title="Click to see block details" data-toggle="popover" data-content="Some content inside the popover"
                  scope="row"><a [routerLink]="['/block',transaction.hash]">01/01/2001 15:01</a></th>
                <td>{{ formatType(transaction.type) }}{{formatAmount(transaction.amount) }}</td>
                <td title="Click to see account details" data-toggle="popover" data-content="Some content inside the popover"><a
                    [routerLink]="['/account',transaction.account]">{{ transaction.account }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #loading>
    <div class="container">
      <div>
        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
      </div>
    </div>
  </ng-template>
</section>