<header class="masthead">
  <div class="section-heading text-center">
    <img src="../../assets/nanoodle_logo.svg" width="50px" class="img-fluid" alt="">
    <br>
    <h3>Live!</h3>
    <br>
  </div>
</header>
<section class="features" id="features">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12 my-auto">
        <div class="header-content mx-auto">
          <h3>Visualisations</h3>
          <h3>Network Statistics</h3>
        </div>
      </div>
    </div>
  </div>
</section>