<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">Live!</h1>
          <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <img src="../../assets/nano_logo.svg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</header>
<section class="download bg-primary text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">Discover what all the buzz is about!</h2>
        <p>Our app is available on any mobile device! Download now to get started!</p>
      </div>
    </div>
  </div>
</section>