{{account}}

<table class="table table-hover table-fixed">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Type</th>
          <th scope="col">Account</th>
          <th scope="col">Hash</th>
        </tr>
      </thead>
      <tbody>            
            <tr  *ngFor="let transaction of transactions$">
                  <th scope="row">1</th>
                  <td>{{ transaction.amount }}</td>
                  <td>{{ transaction.type }}</td>
                  <td>{{ transaction.account }}</td>
                  <td>{{ transaction.hash }}</td> 
            </tr>
      </tbody>
</table>